.mt-landing {
  margin-top: 250px;
  font-size: 55px;
}

.h2-landing {
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 15px;
}

.landing p {
  text-transform: uppercase;
  color: white;
  font-weight: 100;
  letter-spacing: 15px;
  font-size: 35px;
}

.img-height {
  max-height: 500px;
}
