nav {
  background-color: rgba(14, 11, 11, 0.865);
}

nav {
  border-bottom: rgb(56, 213, 187) 4px solid;
}

.navbar-brand {
  text-transform: uppercase;
}

.a-links {
  text-transform: uppercase;
  font-size: 13px;
}

.logo {
  margin-right: 10px;
  height: 60px;
  width: 95px;
}

.hov-anim::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: rgb(56, 213, 187);
  transition: width 0.3s;
}

.hov-anim:hover::after {
  width: 100%;
  transition: width 0.3s;
}

navbar {
  position: fixed;
}

@media only screen and (max-width: 1024px) and (min-width: 676px) {
}

@media only screen and (max-width: 676px) and (min-width: 320px) {
  .logo {
    margin-right: 10px;
    height: 30px;
    width: 45px;
  }
}
