.form-contact {
  padding-top: 120px;
}

.title {
  text-transform: uppercase;
}

.form-contact hr {
  margin-bottom: 60px;
}

.form-size {
  text-indent: 10px;
  height: 60px;
  width: 550px;
  margin-bottom: 20px;
  border: solid 1px lightgrey;
}

.form-area {
  text-indent: 10px;
  width: 550px;
  border-color: lightgrey;
  height: 190px;
}

.btn-form {
  margin-top: 20px;
  background-color: rgb(56, 213, 187);
  color: white;
  height: 50px;
  width: 130px;
  font-size: 20px;
  border: none;
  text-transform: uppercase;
}

.btn-form:hover {
  background: rgb(114, 150, 226);
  color: rgb(0, 0, 0);
  transition: 0.2s;
}

@media only screen and (max-width: 1024px) and (min-width: 676px) {
}

@media only screen and (max-width: 767px) and (min-width: 320px) {
  .form-size {
    width: 350px;
  }

  .form-area {
    width: 350px;
  }
}
