#footer {
  border-top: solid 3px rgb(56, 213, 187);
  background: rgba(14, 11, 11, 0.865);
  min-height: 500px;
}

#footer p {
  color: white;
}

.footer-contact,
p {
  color: white;
  border-bottom-color: white;
}

.footer-title {
  padding-top: 100px;
  color: white;
}

.mt-footer {
  margin-top: 40px;
}

.footer-block {
  margin-top: 60px;
  text-align: center;
}

.footer-block,
p {
  color: white;
}

.footer-line {
  padding: 10px;
  color: white;
  width: 600px;
  background: rgb(73, 232, 179) solid 1px;
}

i {
  color: white;
}
